@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nevBar {
  width: 100%;
  position: fixed;
}
li,
a,
button {
  font-family: "Indie Flower" sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: black;
  text-decoration: none;
}
.nevBar header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
}

.logo {
  object-fit: cover;
  filter: blur(1px);
}
.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0px 40px;
}
.nav_links li a {
  padding: 2px 20px;
  transition: all 0.3s ease 0s;
  background-color: rgba(144, 238, 144, 0.5);
  border: 2px solid red;
  border-radius: 50px 20px;
}
.nav_links li a:hover {
  color: gold;
}
button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 0.5);
  border-color: rgba(230, 245, 229, 255);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
body {
  display: table;
  width: 100%;
  background: linear-gradient(rgba(0, 50, 0, 1), rgba(0, 0, 0, 0.5)),
    url(/Images/MicrosoftTeams-image.png);
  background-position: center top;
  height: 760px;
  background-size: cover;
  background-repeat: no-repeat;
}
.text-block {
  position: absolute;
  text-align: center;
  width: 1000px;
  bottom: 450px;
  left: 300px;
  color: white;
}
