@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgba(210, 240, 210, 250);
}

.nevBar {
  width: 100%;
  position: fixed;
}
li,
a,
button {
  font-family: "Indie Flower" sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: black;
  text-decoration: none;
}
.nevBar header {
  display: flex;
  background-color: rgba(230, 245, 229, 255);
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
}

.logo {
  object-fit: cover;
}
.nav_links {
  list-style: none;
  background-color: rgba(230, 245, 229, 255);
}
.nav_links li {
  display: inline-block;
  background-color: rgba(230, 245, 229, 255);
  padding: 0px 40px;
}
.nav_links li a {
  padding: 2px 20px;
  transition: all 0.3s ease 0s;
  background-color: lightgreen;
  border: 2px solid red;
  border-radius: 50px 20px;
}

.nav_links li a:hover {
  color: #0088a9;
}
.cta {
  background-color: rgba(230, 245, 229, 255);
}
button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border-color: rgba(230, 245, 229, 255);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
