.sidebar {
  position: fixed;
  left: 0;
  top: 100px;
  width: 125px;
  height: 100%;
  background: lightgreen;
}
.sidebar header {
  font-size: 22px;
  color: green;
  text-align: center;
  line-height: 50px;
  background: darkcyan;
  user-select: none;
}
.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: green;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px soli rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid back;
  background-color: lightgreen;
  transition: 1s;
}
ul li:hover a {
  padding-left: 50px;
}
.sidebar ul a i {
  margin-right: 16px;
}
