.information {
  text-align: justify;
  line-height: 1.5;
  font-size: 20px;
  position: absolute;
  border: 3px;
  border-style: solid;
  padding: 1em;
  left: 140px;
  top: 110px;
  width: auto;
}
.topicos {
  padding-left: 50px;
  text-decoration: underline;
}

.informacao2 {
  text-align: justify;
  line-height: 1.5;
  font-size: 20px;
  position: absolute;
  border: 3px;
  border-style: solid;
  padding: 1em;
  left: 140px;
  top: 650px;
  width: auto;
}
.informacao3 {
  text-align: justify;
  line-height: 1.5;
  font-size: 20px;
  position: absolute;
  border: 3px;
  border-style: solid;
  padding: 1em;
  left: 140px;
  top: 880px;
  width: auto;
}
